In [2]:
import pandas as pd
import numpy as np
dates = pd.date_range('20180801',periods=6)
df = pd.DataFrame(np.arange(24).reshape((6,4)),index=dates,columns=['A','B','C','D'])
print(df)

             A   B   C   D
2018-08-01   0   1   2   3
2018-08-02   4   5   6   7
2018-08-03   8   9  10  11
2018-08-04  12  13  14  15
2018-08-05  16  17  18  19
2018-08-06  20  21  22  23

In [3]:
df.iloc[0,1] = np.nan
df.iloc[3,2] = np.nan
print(df)

             A     B     C   D
2018-08-01   0   NaN   2.0   3
2018-08-02   4   5.0   6.0   7
2018-08-03   8   9.0  10.0  11
2018-08-04  12  13.0   NaN  15
2018-08-05  16  17.0  18.0  19
2018-08-06  20  21.0  22.0  23

In [4]:
#dropna(axis,how) axis=0对行进行操作 axis=1对列进行操作 how='any'只要存在nan就drop掉，how='all' 必须全部都是nan才drop
print(df.dropna(axis=0,how='any'))

             A     B     C   D
2018-08-02   4   5.0   6.0   7
2018-08-03   8   9.0  10.0  11
2018-08-05  16  17.0  18.0  19
2018-08-06  20  21.0  22.0  23

In [8]:
import pandas as pd
import numpy as np
dates = pd.date_range('20180801',periods=6)
df = pd.DataFrame(np.arange(24).reshape((6,4)),index=dates,columns=['A','B','C','D'])
df.iloc[0,1] = np.nan
df.iloc[3,2] = np.nan
print(df)
#fillna()
df.fillna(value=0) #fillna(value=0) 如果是nanj就用value代替

             A     B     C   D
2018-08-01   0   NaN   2.0   3
2018-08-02   4   5.0   6.0   7
2018-08-03   8   9.0  10.0  11
2018-08-04  12  13.0   NaN  15
2018-08-05  16  17.0  18.0  19
2018-08-06  20  21.0  22.0  23

             A     B     C   D
2018-08-01   0   0.0   2.0   3
2018-08-02   4   5.0   6.0   7
2018-08-03   8   9.0  10.0  11
2018-08-04  12  13.0   0.0  15
2018-08-05  16  17.0  18.0  19
2018-08-06  20  21.0  22.0  23

In [9]:
#isnull() 如果存在nan，则返回true
df.isnull()

                A      B      C      D
2018-08-01  False   True  False  False
2018-08-02  False  False  False  False
2018-08-03  False  False  False  False
2018-08-04  False  False   True  False
2018-08-05  False  False  False  False
2018-08-06  False  False  False  False